<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
        Relatórios de Telemetria
        {% endblock %}
    </title>


    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >

</head>


<body class="site-body">


    <!-- ================================================== -->
    <!-- CONTEÚDO -->
    <!-- ================================================== -->

    <main class="site-content">

        {% block content %}
        {% endblock %}

    </main>


    <!-- ================================================== -->
    <!-- RODAPÉ -->
    <!-- ================================================== -->

    <footer class="site-footer">

        <div class="site-footer-content">

            <div class="site-footer-left">

                <strong>
                    SAAE Mogi Mirim
                </strong>

                <span>
                    Sistema de Relatórios de Telemetria
                </span>

            </div>


            <div class="site-footer-right">

                Desenvolvido por
                <strong>
                    Mário Hélio Simões
                </strong>

                <span class="site-footer-separator">
                    |
                </span>

                © 2026

            </div>

        </div>

    </footer>


</body>

</html>